<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta hgttp-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <title>
      {{ with .Title }}  {{ . }} |{{ end }} Secure Hello Service
    </title>
  </head>
  <body>

  </body>
</html>
